@tailwind base;
@tailwind components;
@tailwind utilities;

body,*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif !important;
}
.App{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat',sans-serif !important;
}
body{
    overflow-x: hidden;
    background: rgb(243 244 246);
    font-family: 'Montserrat',sans-serif !important;
}
.HeroSection{
    background: url(./images/28917959_7510723\ 1.svg) !important;
    width: 100vw !important;
    height: 100vh !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.responsiveNavbar{
    background: url(./images/Frame.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.label {
    height: 40px;
    width: 163px;
}

.label .EV-load {
    color: transparent;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 26px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    width: 163px;
}

.label .text-wrapper {
    color: #4bac88;
}

.label .span {
    color: #000000;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    all: unset;
    align-items: center;
    background: linear-gradient(180deg, rgb(52.11, 158.31, 118.9) 0%, rgb(86.98, 188.06, 150.55) 100%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-color: #eaeaea;
    border-radius: 60px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    background: black;
    transition: all 0.3s ease-in;
}
.btn .text-wrapper {
    color: #ffffff;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.btn .iconly-light-arrow-right-2 {
    height: 10px !important;
    position: relative !important;
    width: 10px !important;
    background-repeat: no-repeat;
}


.btn-two {
    all: unset;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eaeaea;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    padding: 10px 30px;
    position: relative;
    cursor: pointer;
}
.btn-two:hover{
    background:  linear-gradient(180deg, rgb(52.11, 158.31, 118.9) 0%, rgb(86.98, 188.06, 150.55) 100%);
}
.btn-two .log-in {
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}
.frame {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.frame .text-wrapper {
    color: #000000;
    font-family: var(--16-BOLD-font-family);
    font-size: var(--16-BOLD-font-size);
    font-style: var(--16-BOLD-font-style);
    font-weight: var(--16-BOLD-font-weight);
    letter-spacing: var(--16-BOLD-letter-spacing);
    line-height: var(--16-BOLD-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.frame .rectangle {
    background-color: var(--pure-black);
    border-radius: 3px 3px 0px 0px;
    height: 4px;
    position: relative;
    width: 50px;
}
.frame .rectangle:hover{
    background-color: black;
}

.hover-link:hover{
    border-bottom: 2px solid black;
    margin-top: 2px;
    font-weight: bold;
    font-size: 14.7px;
}
.container{
    margin: auto;
    background: url(./images/Group\ 181.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container-hero{
    bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
@media(max-width:1000px){
    .container-hero{
        flex-direction: column-reverse;
        gap:100px;
    }
    .HeroSection{
        height:fit-content !important;
        width: 100vw;
        background-size: cover !important;
    }
    .slider{
        flex-wrap: wrap;
        margin: 0 10px;
    }
}

.black{
    background: url(./images/Rectangle\ black.svg);
    padding:31px 200px 31px 55px;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
}
.blackLast{
    padding: 31px 51px 31px 25px;
}

.black-other{
    padding: 31px 55px 31px 200px;
}
.green{
    background: url(./images/Rectangle\ green.svg);
    background-size: cover;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-position: center;
}
@media(max-width:1000px){
    .green{
        border-radius: 40px;
    }
    .black-other{
    padding:31px 31px 31px 55px;
}
.black{
    padding:31px 31px 31px 55px;
}
}

@media(min-width:1700px){
    .green{
        left: 1250px;
    }
    .green-two{
        left: 0px;
    }
    .HeroSection{
        width: 100vw;
        height: 100vh !important;
        background-repeat: no-repeat;
        background-size: cover !important;
    }
}
@media(min-width:2000px){
.HeroSectionComponents{
    width: 2000px;
    margin: auto;
}
.green{
    
}
.HeroSection{
    width: 100vw !important;
}
.green-two{
    width: 40%;
   left: -1300px;
}
}

